<div class="three-column">
  <%= image_tag("logo-dark.png", :id => "logo") %>
  <p>Submit them</p>
</div>

<div class="three-column">
  <%= image_tag("logo-dark.png", :id => "logo") %>
  <p>Vote for them</p>
</div>

<div class="three-column">
  <%= image_tag("logo-dark.png", :id => "logo") %>
  <p>Learn from them</p>
</div>
