/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap
 *= require_self
 *= require_tree
 */

@font-face {
  font-family: CreteRound-Regular;
  src: url("/assets/CreteRound-Regular.otf") format("truetype"); /* For IE */
  src: local("CreteRound-Regular"), url("/assets/CreteRound-Regular.otf") format("truetype"); /* For non-IE */
}

a {
  text-decoration: none;
}

a.add {
  float: right;
  font-size: 30px;
  line-height: 30px;
  margin: 35px 0 0 0;
  text-align: right;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #F0F0F0;
  color: #999999;
  font-family: CreteRound-Regular, Helvetica;
  width: 100%;
}

div.clear {
  clear: both;
}

div#content {
  text-shadow: 0 1px #ffffff;
  padding: 0 0 60px 0;
  margin: 0 auto;
}

div#content-wrapper {
  background-image: url('dust.png');
  padding: 0 10%;
  min-height: 100%;
}

div#error_explanation {
  border: 1px solid red;
  color: red;
  display: inline-block;
  margin: 10px 0px 20px 180px;
}

div#error_explanation h2 {
  font-size: 20px;
  /*font-weight: bold;*/
  margin: 0;
  padding: 0 10px;
}

div#error_explanation li {
  list-style: circle;
}

div#footer {
  /*background-image:url('px_by_Gre3g.png');*/
  background-color: #262626;
  box-shadow: 0px 0px 5px #999;
  clear: both;
  color: #999;
  font-size: 20px;
  padding: 50px 0;
  text-align: center;
}

div.form-actions.input {
  background-color: transparent;
  margin: 0;
  padding-bottom: 0; 
  padding-top: 0;
  border: 0px;
}

h1 a:hover {
  color: #EEE;
  text-decoration: none;
}

#fullstop {
  color: #888;
}

#fullstop:hover {
  color: #57a957;
}

div#header {
  background-color: #262626;
  /*-webkit-box-shadow: 0 3px 3px #999;
     -moz-box-shadow: 0 3px 3px #999;
          box-shadow: 0 3px 3px #999; */
  /*background-image: url('px_by_Gre3g.png');*/
  padding: 40px 10%;
  z-index: 100;
}

div.list-box {
  border: solid #CCC;
  border-width: 2px 0px 0px 0px;
  padding: 20px 0;
}

div.list-box-text {
  overflow: auto;
  padding: 10px 0 0 0;
}

div#left-bar ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

div#login {
  float: right;
  font-size: 30px;
  line-height: 60px;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h2, h3, h4 {
  color: #888;
}

h1 {
  color: #333;
  float: left;
  font-size: 60px;
  line-height: 60px;
  margin: 0 0;
}

h1 a {
  color: #F0F0F0;
}

h2.main-heading {
  font-size: 60px;
  line-height: 60px;
  margin: 60px 0 10px 0;
}

h2#form-heading {
  margin: 10px 0 10px 180px;
}

h3.sub-heading {
  font-size: 40px;
  line-height: 40px;
  margin: 10px 0;
}

label.control-label {
  margin-right: 20px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

p#description {
  margin: 10px 0;
}

span.category {
  color: #F0F0F0;
  float: right;
  font-size: 20px;
  line-height: 20px;
  padding: 15px 0; 
  text-align: right;
}