/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap
 *= require_self
 *= require_tree
 */

@import url("https://fnt.webink.com/wfs/webink.css/?project=3709B5CA-B7B5-4753-AAD7-4D5ACAEC8172&fonts=741523D5-28BB-38D7-153A-061C4EDD1B98:f=CreteRounded-Regular,E3E82DBC-87D6-BA5B-D745-2846E3AA460D:f=SkolarWeb,E91036C1-9B3E-398B-6BC8-3F30F4412BFB:f=SkolarWeb-Bold");

a {
  text-decoration: none;
}

a.add {
  float: right;
  font-size: 30px;
  line-height: 60px;
  margin: 10px 0 0 0;
  text-align: right;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #F0F0F0;
  color: #999999;
  font-family: 'CreteRounded-Regular', 'SkolarWeb', Helvetica;
}

div.clear {
  clear: both;
}

div#content {
  text-shadow: 0 1px #ffffff;
  width: 100%;
  padding: 40px 0;
}

div#content-wrapper {
  background-image: url('first_aid_kit.png');
  padding: 0 200px;
  min-height: 100%;
}

div#error_explanation {
  background-color: grey;
  border: 3px solid red;
  color: red;
    display: inline-block;
  margin: 10px 0px 20px 180px;
}

div#error_explanation h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0 10px;
}

div#error_explanation li {
  list-style: circle;
}

div#footer {
  background-image:url('px_by_Gre3g.png');
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px #999;
  clear: both;
  color: #999;
  padding: 50px 0;
  text-align: center;
}

div.form-actions.input {
  background-color: transparent;
  margin: 0;
  padding-bottom: 0; 
  padding-top: 0;
}

div#header {
  -webkit-box-shadow: 0 3px 3px #999;
     -moz-box-shadow: 0 3px 3px #999;
          box-shadow: 0 3px 3px #999; 
  background-image: url('px_by_Gre3g.png');
  padding: 40px 200px;
  z-index: 100;
}

div.list-box {
  border: solid #CCC;
  border-width: 2px 0px 0px 0px;
  padding: 20px 0;
}

div.list-box-text {
  overflow: auto;
  padding: 10px 0 0 0;
}

div#left-bar ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

div#login {
  float: right;
  font-size: 30px;
  line-height: 60px;
}

h1 {
  color: #333;
  float: left;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  margin: 0 0;
}

h1 a {
  color: #F0F0F0;
}

h2.main-heading {
  color: #888;
  font-size: 60px;
  line-height: 60px;
  margin: 10px 0;
  white-space: nowrap;
}

h2#form-heading {
  margin: 10px 0 10px 180px;
}

h3.sub-heading {
  color: #888;
  float: left;
  font-size: 40px;
  line-height: 40px;
  margin: 10px 0;
}

label.control-label {
  margin-right: 20px;
}

p {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

p#description {
  margin: 10px 0;
}

span.category {
  color: #F0F0F0;
  float: right;
  font-size: 20px;
  line-height: 20px;
  padding: 15px 0; 
  text-align: right;
}