div#home-content {
  margin: 20px 0;
}

ul.home-list {
  list-style-type: circle;
}

ol.home-list {
  list-style-type: decimal;
}

div#home-content h2 {
  color: #777;
}

strong {
  color: #777;
}

a#hero-link {
  display: inline-block;
  font-size: 50px;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}