div#technology-container {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}

h2#technologies-heading {
  font-size: 60px;
  line-height: 60px;
  margin: 80px 0 40px 0;
  text-align: center;
}

h3.letter {
  font-size: 60px;
  margin: 60px 0;
  text-align: center;
}

div#nav-container {
  border-bottom: 3px solid #CCC;
  padding: 0 0 20px 0;
}

li.technology-item {
  background: #EEE;
  box-shadow: 0 0 15px #777;
  display: block;
  font-size: 40px;
  line-height: 140px;
  list-style: none;
  margin: 20px 0;
  overflow: hidden;
  text-align: center;
  text-shadow: 0 0;
  white-space: nowrap;
}

li.nav-item {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  list-style: none;
  margin: 3px;
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}

li.nav-item:hover {
  color: #08c;
}

p.home-paragraph {
  margin: 0 0 40px 0;
}

ul#technology-list {
  margin: 0;
}

ul#nav-list {
  margin: 10px 0;
  text-align: center;
}