a.down-vote {
  color: red;
}

a.up-vote {
  color: #57a957;
}

div.form-actions.input {
  background-color: white;
  border: 0;
  margin: 0;
  padding: 0;
}

div.progress.progress-success.progress-striped {
  color: #999;
  text-align: center;
  margin: 0;
  padding: 0;
}

div.tutorial-wrapper {
  float: left;
  vertical-align: middle;
}

div.tutorial-info-wrapper {
  float: left;
}

div.tutorial-info-wrapper p {
  margin: 0;
}

div.vote-wrapper {
  float: left;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

h4.tutorial-name {
  float: left;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
}

input.btn.btn-primary {
  float: left;
  margin: 0 20px 0 0;
}

p.tutorial-info {
  color: #999;
  float: left;
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 0 90px;
}

p#technology-description {
  margin: 0 0 10px 0;
}
