a.down-vote-button {
  color: red;
}

a.up-vote-button {
  color: #57a957;
}

.voted {
  color: #BBB;
}

div#devise-links {
  margin-left: 180px;
}

div.down-vote {
  /*background-color: rgba(255, 210, 210, 0.4);
  -moz-box-shadow: 0 0 10px #FFE6E6;
  -webkit-box-shadow: 0 0 10px #FFE6E6;
  box-shadow: 0 0 10px #FFE6E6;*/
}

div.up-vote {
  /*background-color: rgba(222, 255, 226, 0.4);
  -moz-box-shadow: 0 0 10px #EDFFEF;
  -webkit-box-shadow: 0 0 10px #EDFFEF;
  box-shadow: 0 0 10px #EDFFEF;*/
}

div.progress {
  color: #999;
  text-align: center;
  margin: 0 20px;
  padding: 0;
}

div.tutorial-info-wrapper {
  display: inline-block;
}

div.tutorial-info-wrapper p {
  margin: 0;
}

span.vote-wrapper {
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  width: 10%;
}

h2.technology-name {
  font-size: 60px;
  line-height: 60px;
  margin: 60px 0 0 0;
  white-space: nowrap;
}

h3.tutorial-name {
  font-size: 30px;
  line-height: 40px;
}

input.btn.btn-primary {
  float: left;
  margin: 0 20px 0 0;
}

p.tutorial-info {
  color: #999;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0;
}

p#technology-description {
  margin: 0 0 10px 0;
}

span.tutorial-info-item {
  margin: 5px 0px;
  white-space: nowrap;

}

span.tutorial-link {
  color: #BBB;
  font-size: 20px;
}

table {
  margin: 0 20px;
}

td.vote-cell {
  min-width: 120px;
  text-align: center;
  vertical-align: top;
}

li.technology-item {
  background-color: #EEE;
  -webkit-box-shadow: 0 0 10px #777;
     -moz-box-shadow: 0 0 10px #777;
          box-shadow: 0 0 10px #777;
  display: block;
  font-size: 40px;
  line-height: 100px;
  list-style: none;
  margin: 20px 0;
  overflow: hidden;
  text-align: center;
  text-shadow: 0 0;
  white-space: nowrap;
}

li.nav-item {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  list-style: none;
  margin: 0.75%;
}

li.nav-item:hover {
  color: #08c;
}


div#nav-container { 
  background-image: url('dust.png');
  border-bottom: 3px solid #CCC;
  padding: 20px 10%;
  position: relative;
  margin: 0 0%;
  width: 80%;
  z-index: 100;
}

div#nav-container-padding {
  height: 70px;
}

div#scroller-anchor {
  background-image: url('dust.png');
}


ul#technology-list {
  margin: 0;
  border-bottom: 3px solid #CCC;
}

ul#nav-list {
  text-align: center;
  margin: 0;
}

#missing-technology {
  display: block;
  font-size: 30px;
  text-align: center;
  margin: 40px 0 0 0;
  width: 100%;
}

h3.letter {
  font-size: 60px;
  padding: 40px 0;
  text-align: center;
}
