a.down-vote {
  color: red;
}

a.up-vote {
  color: #57a957;
}

.voted {
  color: #BBB;
}

div#devise-links {
  margin-left: 180px;
}

div.progress.progress-success.progress-striped {
  color: #999;
  text-align: center;
  margin: 0;
  padding: 0;
}

div.tutorial-wrapper {
}

div.tutorial-info-wrapper {
  float: left;
  display: inline-block;
  width: 85%;
}

div.tutorial-info-wrapper p {
  margin: 0;
}

div.vote-wrapper {
  display: inline-block;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  padding: 0 20px;
  width: 10%;
}

h3.tutorial-name {
  font-size: 30px;
  line-height: 40px;
}

input.btn.btn-primary {
  float: left;
  margin: 0 20px 0 0;
}

p.tutorial-info {
  color: #999;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0;
}

p#technology-description {
  margin: 0 0 10px 0;
}

span.tutorial-info-item {
  margin: 5px 0px;
}
