a.add-comment {
  float: right;
  font-size: 20px;
  margin: 5px 0 0 0;
}

div.comment {
  background: #f0f0f0;
  float: left;
  position: relative;
  margin: 0 0 10px 10px;
  padding: 10px;
}

div.comment:after {
  content: "";
  position: absolute;
  top: 12px;
  left: -10px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f0f0f0;
  display: block;
  width: 0;
  z-index: 1;
}

h4.comment-title {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0 0 10px 0;
}

span.comment-timestamp {
  color: #999;
  float: left;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
}